@import "tailwindcss";

html, body {
  overflow-x: hidden;
}

.font-italiana {
  font-family: var(--font-italiana);
}

.font-oswald {
  font-family: var(--font-oswald); 
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-manrope {
  font-family: "Manrope", sans-serif;
}

.font-opensans {
  font-family: "Open Sans", sans-serif;
}

.embla__slide {
  flex: 0 0 auto;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  flex: 0 0 auto;
  padding-left: 10px;
}


/* menu */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}


